@model IEnumerable<UtopishDataBase.Account>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Archer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank.BankID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Barrack.BarrackID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Knight.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lab.LabID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MountedKnight.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Power)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gold)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Archer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bank.BankID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Barrack.BarrackID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Knight.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lab.LabID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.LocationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MountedKnight.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Power)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gold)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccountID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccountID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountID })
        </td>
    </tr>
}

</table>
